/* Sticky footer: http://getbootstrap.com/examples/sticky-footer/ */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-radius: 4px;
    padding-top: 20px;
}
/* ---- */

.persona-login {
    padding-top: 20px;
}
.margin-bottom {
    margin-bottom: 1em;
}
